@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.myimage{
  width: 25%;
  height: auto;
}
.container{
  padding-left: 25%;
}
p{
  color:green;
}